---
# This is the Front Matter block
---

$top-bar-color: #6C5895;
$top-bar-text: #120D1C;
$top-visit: #BFA4F5;
$top-active: #120D1C;

$body-background: #2F2E2F;
$body-font-color: #E0E0E0;

$footer-bar-color: #120D1C;
$footer-bar-text: #BFA4F5;
$bottom-visit: #E0E0E0;
$bottom-active: #BFA4F5;

@import 'foundation';
  @include foundation-everything;

  body{
    position: relative;
    background-color: $body-background;

  header{
    a {
      color:$top-active;
        &:hover{
         color:purple;
        }
       }
    .top-bar-title{
      color: $top-active;
      }
    .top-bar-right{
      font-weight: bold;

    }
  }
  main {
    color: $body-font-color;
    padding-top: 1em;
    padding-bottom: 20em;
    overflow-y: hidden;

    @include grid-row;
    article {
      header, div:first {
        @include grid-column(12);
      }
    }
    padding : {
      left: 1em;
      right: 1em;
    }
    a {
    color:$bottom-active;
      &:hover{
      color:purple;
      }
    }
  }

  footer {
  .fixed-bottom {
    background-color: $footer-bar-color;
    color: $footer-bar-text;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
    padding:{
      top: .5em;
      bottom: .5em;
    }

    .bottom-bar{
    text-align: center;
      li{
        display: inline;
        padding: .5em;
      }
    }

    a {
    color:$bottom-active;
    &:hover{
    color:purple;
    }
  }
}
}
}