<header>
  <div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <h2><strong>Lauren N. Murphy</strong></h2>
    <h4><strong>Developer / Tech Enthusiast</strong></h4>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/projects/index.html">projects</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="/blog">blog</a></li>
      </ul>
    </div>
  </div>
</div>
</header>